.tags {
	position: relative;
	margin: 10px auto;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 5px;
	font-size: 12px;
	border: 1px solid var(--primary-color-grey);
}
.tags-item{
	cursor: pointer;
	margin-right: 10px;
}
.tags-item:active{
	cursor: pointer;
	color: red;
}
.all-tags-btn {
	position: relative;
	right: 10px;
}