.input-form-wrapper {
  margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	.input-form {
		width: 435px;
		height: 40px;
		padding-left: 10px;
		font-size: 20px;
		border: none;
		border: 1px solid var(--primary-color-grey);
		border-radius: 3px;
	}
	.input-form::placeholder {
		color: var(--primary-color-grey);
	}
	.input-form:focus {
		outline: none;
		border: 1px solid var(--primary-color-grey);
	}
	.submit-form-btn {
		height: 38px;
		padding: 4px;
		border: none;
		border: 1px solid var(--primary-color-grey);
		border-radius: 3px;
		cursor: pointer;
	}
	.submit-form-btn:active {
		background-color: rgb(255, 255, 255);
	}
}