.select-sort-wrapper {
	position: relative;
	margin: 10px auto;
	width: 500px;
	height: auto;
	padding: 5px;
  border: 1px solid var(--primary-color-grey);
}
.select-sort-wrapper label {
	margin-right: 10px;
	color: grey;
}
.select-sort-wrapper select {
	color: grey
}