.task {
	position: relative;
	margin: 10px auto;
	width: 95%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	font-size: 15px;
	border: 1px solid var(--primary-color-grey);
}
.strike {
  text-decoration: line-through 2px solid rgb(207, 24, 24);
}
.task-btns-wrapper {
	width: 42%;
	display: flex;
	justify-content: space-around;
}
.task-del-btn,
.task-edit-btn,
.task-update-btn {
	border-radius: 3px;
	padding: 4px;
	margin: 0 3px;
	border: none;
	border: 1px solid var(--primary-color-grey);
	cursor: pointer;
}
.task-del-btn:active,
.task-edit-btn:active, 
.task-update-btn:active {
	background-color: rgb(255, 255, 255);
}
.tag {
	position: absolute;
	top: 1px;
	left: 5px;
	font-size: 10px;
	color: grey;
}
.tag-edit-mode {
	display: flex;
	justify-content: flex-start;
}